.ms{
    margin-left: 850px;
}
.bg{
    background-image: url("../Ghost/images/bg.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-map{
    background-image: url("../Ghost/images/raznoe-globusy--karty-materiki-mir-zemly-1363591_auto_x2.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;

}
.card-1{
    width: 1349px;
    height: 522px;
}

.card-1{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.t{
    text-align: left;
}
.txt{
    color: rgb(122, 86, 83);
    font-size: 44px;
    text-align: center;
    font-family: "Southbank LT";
    font-style: normal;
    font-weight: normal;
    overflow: visible;
    position: absolute;
    text-shadow: #f6874a 0 0 2px;
}
.x{
    overflow-x: hidden;
}
.height{
    height: 700px;
}
.dropdown-content{
    display: block;
    opacity: 0;
    pointer-events: none;
    transition: all 0.4s ease;
    transform: translateY(10px);
}
.projects a:focus + ul{
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
}
.img-mark-1{
    height: 60px;
    width: 73px;
    left: 620px;
    top: 283px;
    position: absolute;
    list-style: none;
}